<div class="center">
  <h2> <%=@attraction.name %></h2>
  <p>Nausea rating: <%=@attraction.nausea_rating%></p>
  <p>Happiness rating: <%=@attraction.happiness_rating%></p>
  <p>Min height allowed: <%= @attraction.min_height%></p>
  <p>Tickets cost:<%= @attraction.tickets%></p>
  <%= form_for :ride, url: rides_path do |f| %>
      <%=f.hidden_field :attraction_id, :value=>"#{@attraction.id}"%>
      <%=f.hidden_field :user_id ,:value=>"#{@user.id}"%>
      <%= f.submit "Go on this ride" %>
  <%end%><br>
  <% if current_user.admin?%>
    <%= link_to 'Edit Attraction',edit_attraction_path%>
  <%end%>
  <%= link_to "Go back to attraction's list",attractions_path %>
<div>
